
.podcast{
    margin:0;
    padding:0;
    position:sticky;
    overflow-y:scroll;
    overflow-x:hidden;
}
.podcast1{
    height:500px;
}
.card1{
    overflow:hidden;
}
.podcastContainer{
    overflow:hidden;
}
.Playlist1{
    padding-top:1rem;
}